<!--
    Position fixed is temporary can 
    be changed if used cdkVirtualScroll
-->
<div class="jumbotron pt-5  pb-5" style="position: fixed">
  <div class="card card-hover">
    <div class="card-body">
      <div class="card-title">
        <p class="text-muted h3 p-0 text-left">
          <i class="fas fa-filter"></i> Filter
        </p>
      </div>
      <div class="card-text">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>One fish</mat-chip>
          <mat-chip>Two fish</mat-chip>
          <mat-chip color="primary" selected>Primary fish</mat-chip>
          <mat-chip color="accent" selected>Accent fish</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
