<div
  class="d-flex h-auto h-100 align-items-center align-items-center login-image"
>
  <div class="row w-100 mx-0">
    <div class="col-md-7 col-12 order-12 order-md-1">
      <div class="jumbotron bg-transparent"></div>
    </div>
    <div class="col-md-4 col-12 order-1 order-md-12 mx-auto text-center">
      <div class="container text-center">
        <mat-card>
          <mat-card-content>
            <div class="text-left card-title text-muted px-1">
              <span class="h4"><i class="fas fa-lock"></i></span>&nbsp;&nbsp;<span class="h2">Sign In</span>
            </div>
            <div class="card-text px-1 pt-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn text-muted pt-0 pb-0 pr-3 pl-0 mb-0">
                    <span class="h5"><i class="fas fa-envelope"></i> </span>
                  </button>
                </div>
                <input class="form-control" placeholder="Enter username" />
              </div>
            </div>
            <div class="card-text px-1 pt-4 mt-2">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn text-muted pt-0 pb-0 pr-3 pl-0 mb-0">
                    <span class="h5"><i class="fas fa-key"></i> </span>
                  </button>
                </div>
                <input class="form-control" placeholder="Enter password" />
              </div>
            </div>
            <div class="jumbotron bg-transparent"></div>
            <div class="jumbotron p-3 bg-transparent"></div>
          </mat-card-content>
          <mat-card-actions>
            <div class="text-right p-3">
              <button mat-raised-button color="primary">Login</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
