<mat-toolbar color="primary" mat-raised>
  <div class="container pt-0 pb-0">
    <header class="h2"><i class="fas fa-sitemap"></i> E-Care</header>
  </div>
</mat-toolbar>

<div class="container mt-4 h-auto h-75">
  <div class="row h-auto h-100 ">
    <div class="col-5 mx-auto">
      <div class="input-group">
        <div class="input-group-prepend mr-2">
          <button mat-flat-button color="primary">
            <i class="fas fa-search"></i> Search
          </button>
        </div>

        <input
          class="form-control input-bg"
          placeholder="Search employee ..."
        />&nbsp;&nbsp;
      </div>
    </div>
    <div class="col-6 h-100 h-auto mx-auto">
      <div class="d-flex h-100 w-100 align-items-center">
        <div class="row w-100 px-0">
          <div class="col-6 mx-auto text-center">
            <div class="jumbotron"></div>
          </div>
          <div class="col-6 mx-auto text-center">
            <div class="jumbotron"></div>
          </div>

          <div class="col-12 mx-auto text-center">
            <div class="jumbotron"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
