<mat-toolbar color="primary" mat-raised>
  <div class="container pt-0 pb-0">
    <header class="h2"><i class="fas fa-sitemap"></i> E-Care</header>
  </div>
</mat-toolbar>

<div class="container text-center mt-5 h-auto h-75">
  <div class="row h-auto h-100 mt-5">
    <div class="col-12 col-md-7 text-center px-4">
      <div class="input-group">
        <div class="input-group-prepend mr-2">
          <button mat-flat-button color="primary">
            <i class="fas fa-search"></i> Search
          </button>
        </div>

        <input
          class="form-control input-bg"
          placeholder="Search employee ..."
        />&nbsp;&nbsp;
      </div>
      <hr />
      <!--Employee detials card-->
      <app-employee-card [data]="employeeArray"></app-employee-card>
    </div>
    <div class="col-md-5 col-12 h-100 h-auto mx-auto">
      <app-search-filter></app-search-filter>
    </div>
  </div>
</div>
