.avatar-image {
  background-image: url("../../assets/avatar.png");
  background-size: cover;
}

/*
mat-card{
  background-color: #424242;
  color:white;
}*/

.card-hovered{
  background-color: white !important;
  color:#6c757d;
  transition: 0.7s;
}
.card-hovered:hover{
  background-color: lighten(#424242, 33%) !important;
  color:white !important;
  transition: 0.7s;
}



.link-hover,
.link-hover:hover {
  text-decoration: none;
}
