<ul class="list-group text-center w-100">
  <li class="list-group-item text-center w-100" *ngFor="let item of data">
    <div class="conatiner-fluid w-100">
      <mat-card class="card-hover w-100">
        <mat-card-content>
          <div class="row w-100 no-gutters">
            <div class="col-2 mx-auto text-center">
              <div
                class="d-flex w-100 h-100 align-items-center justify-content-center"
              >
                <div mat-card-avatar class="avatar-image"></div>
              </div>
            </div>
            <div class="col text-center">
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </li>
</ul>
